<div id="second-exercise">
  <p>
    For this second exercise, you will have to perform a GET to retrieve a list of users from an external API.
    These are the criteria for this exercise:
  </p>
  <ul>
    <li>The logic to perform the request should be placed inside a <i>Service</i>;</li>
    <li>The output must display the list of users following the example given;</li>
    <li>The output must present the list in ascending order;</li>
  </ul>
  <div>
    <app-users></app-users>
  </div>
</div>
