<mat-drawer-container id="home">
  <mat-drawer-content class="content">
    <div id="header">
      <h2 class="mat-title">Live Coding</h2>
      <div id="navbar">
        <a [routerLink]="['first-exercise']" routerLinkActive="selected">Stopwatch</a>
        <a [routerLink]="['second-exercise']" routerLinkActive="selected">Users</a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
