<div id="first-exercise">
  <p>
    For this first exercise, you have to add the necessary logic to the Stopwatch and Output Log
    components to achieve the following behaviors:
  </p>
  <ul>
    <li>
      When clicking the START button, the counter should start increasing second by second;
    </li>
    <li>
      When clicking the STOP button, the counter should stop and the Output Log should render
      a new message following the example given;
    </li>
  </ul>
  <div>
    <app-stopwatch></app-stopwatch>
    <app-output-log></app-output-log>
  </div>
</div>
