#stopwatch {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  width: 300px;
  padding: 2rem;

  > div {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
  }

  .display {
    background-color: #000022;
    color: white;

    font: 400 22px/26px "Times New Roman", Times, serif;

    border-radius: 4px;
    padding: .5rem;
    text-align: center;
  }

  .button {
    height: 30px;
    border-radius: 8px;
    font-weight: 700;
    background: #fff;
    border: 1px solid #835afd;
    color: #835afd;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;

    cursor: pointer;

    transition: filter 0.2s;

    &.secondary {
      background: #835afd;
      color: #ffffff;
    }
  }
}
